label, input, textarea {
    display: block;
    background-color: $container-bg;
}

textarea {
    font-family: $font-family-monospace;
    text-align: center;
    width: 100%;
    resize: none;
}

// visually indicate invalid field entries
input[type=number] {
    // necessary for Safari
    appearance: none;
    width: 4rem;

    &:invalid {
      box-shadow: 0 0 5px 1px red;
    }

    &:focus:invalid {
      outline: none;
    }
}
