// place for custom variables
@import "bootstrap-variables";

@import "../../bootstrap-sass/assets/stylesheets/bootstrap"; 

// custom version of optional class, not sure where in import order this should go
@import "customTheme";

$container-bg:       #AAC9AA;

// visually indicate invalid field entries
@import "form-validation";

.container {
    background-color: $container-bg;
    }

.well {
    color: white;
    }

.page-header {
    @extend .well;
    @extend .well-sm;
    
    margin-top: 5px;
    // make smaller
    h1 {
        font-size: $font-size-h3;
    }
}

.content-prose-1col {
	@extend .col-md-12;
	}

.content-prose {
	@extend .col-md-4;
	@extend .col-md-push-8;
	}

.content-passphrase {
	@extend .col-md-8;
	@extend .col-md-pull-4;
	}

.content-settings {
    @extend .row;
    @extend .col-md-8;
    margin-top: 5px;

    label {
        @extend .col-xs-4;
        display: table-cell;
        }
	}
